################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AzureServiceBus/.vs
/AzureServiceBus/bin/Debug/net8.0
/AzureServiceBus/obj
